# ============================
# TERRAFORM
# ============================
*.tfstate
*.tfstate.*
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
.crash.log
.crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.plan

# ============================
# LOGS
# ============================
*.log
logs/
log/

# ============================
# PYTHON / DJANGO
# ============================
*.pyc
__pycache__/
env/
venv/
.venv/
app/app/venv/
*.sqlite3
*.db

# Django secrets
.env
*.env

# ============================
# HELM / K8s
# ============================
charts/*/values.local.yaml
charts/*/values.dev.yaml
charts/*/values.prod.yaml
*.kubeconfig
kubeconfig
.kube/

# ============================
# AWS
# ============================
.aws/

# ============================
# DOCKER
# ============================
*.tar
*.img
.cache/

# ============================
# JENKINS
# ============================
secrets/
.jenkins/

# ============================
# OS / EDITOR
# ============================
.DS_Store
Thumbs.db
.idea/
.vscode/
